@charset "utf-8";
html{
    background-color: white;
}

a {
    text-decoration: none;
    color: rgb(73, 160, 73);
}

a:hover, a:active {
    color: rgb(31, 31, 121);
    text-decoration: underline;
}


.topNav ul li {
    list-style: none;
}

h1 {
    color: rgb(32, 179, 179);
}

h2 {
    color: rgb(3, 170, 92); 
}